:root {
    --main: #0e76a8;
    --main-dark: #0b3b53;
    --tertiary: #519fcf;
    --accent: #eaba82;
    --accent-dark: #b6753d;
    --accent-light: #ffefdb;
    --light-background: #f6fafd;
    --background: #e4f6fd;
    --red: #de7c7c;
    --red-dark: #d35a5a;
    --red-light: #ffd3d3;
    --grey-text:#525c60;
    scroll-behavior: smooth;
}
@font-face {
    src: url(../fonts/Panton-Trial-Regular.ttf) format('truetype');
    font-family: Panton;
    }

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size:1.2em !important;    
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold!important;
    font-family: 'Panton';
}
a {
  color: var(--main) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--main-dark) !important;
  text-decoration: none !important;
}

.btn-main{
  background-color: var(--main) !important;
  color: white !important;
}

.btn-main:hover{
  background-color: var(--main-dark)!important;
  color: white !important;
}
.btn-main-light{
  background-color: var(--background) !important;
  color: var(--main) !important;
}
.btn-main-light:hover{
  background-color: var(--main) !important;
  color: white !important;
}

.btn-outline-main{
  border: 1px solid var(--main) !important;
  color: var(--main) !important;
  background-color: transparent !important;
}
.btn-outline-main:hover{
  background-color: var(--main)!important;
  color: white !important;
}

.btn-danger{
    color: white !important;
    background-color: var(--red) !important;
    border-color: var(--red);
}
.btn-danger:hover{
    color: white !important;
    background-color: var(--red-dark) !important;
    border-color: var(--red-dark) !important;
}

.text-main{
  color: var(--main) !important;
}
.text-main-dark{
  color: var(--main-dark) !important;
}
.text-accent{
  color: var(--accent) !important;
}
.text-accent-dark{
  color: var(--accent-dark) !important;
}
.text-danger{
    color: var(--red);
}
.text-danger-dark{
    color: var(--red-dark);
}
.text-main-light{
    color: #566f81 !important;
}

.bg-main-lighter{
  background-color: #f6fafd !important;
}

.bg-main-light{
    background-color: var(--background);
}
.bg-accent{
    background-color: var(--accent);
}
.bg-accent-light{
    background-color: var(--accent-light);
}
.bg-danger{
    background-color: var(--red) !important;
}
.bg-danger-dark{
    background-color: var(--red-dark) !important;
}
.bg-danger-light{
    background-color: var(--red-light) !important;
}
/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/

.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button small{
    font-size: 13px;
    color: var(--main-dark);
}
.faq .accordion-button .profile {
  background: var(--accent);
  color: var(--light-background);
  border-radius:50%;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
    padding-top: 3px;
    margin: 5px;
}

.faq .accordion-item{
    background-color: var(--light-background);
  border-radius: 3px;
  padding: 5px 5px 5px 20px;
  border: none !important;
  margin: 5px;
}
.faq .accordion-header button{
    background-color: var(--light-background);
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: var(--main);
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: var(--main);
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
  color: var(--main-dark);
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.pagination .page-link{
    color: var(--main)!important;
    background-color: white !important;
}

.pagination .page-item.active .page-link{
    color: var(--light-background)!important;
    background-color: var(--main) !important;
    border-color: var(--main) !important;
}

.card-header{
    background-color: var(--light-background) !important;
    border-color: #eae9e9;
}
.card{
    border-color: #eae9e9;
}