  <header id="header" class="header fixed-top">
    <nav class="navbar navbar-expand-lg bg-body">
  <div class="container">
    <a class="navbar-brand" href="#">Employment Empower</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active {% endif %}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/about' %}active {% endif %}" href="{% url 'about' %}">About</a>
        </li>
          <li class="nav-item">
          <a class="nav-link {% if request.path == '/team' %}active {% endif %}" href="{% url 'team' %}">Our Team</a>
        </li>
          <li class="nav-item">
          <a class="nav-link {% if request.path == '/faq' %}active {% endif %}" href="{% url 'faq' %}">FAQs</a>
        </li>
          <li class="nav-item">
          <a class="nav-link {% if request.path == '/contact' %}active {% endif %}" href="{% url 'contact' %}">Contact</a>
        </li>
          <li class="nav-item">
          <a class="btn btn-main" href="#memberships">Get Started</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
  </header><!-- End Header -->
