{% extends 'layouts/global.html' %}
{% load static %}
{% load custom_tags %}

{% block css %}

{% endblock %}

{% block content %}
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center mt-5 text-uppercase">
              <small class="text-main">Memberships</small>
              <h1>Different packages for you</h1>
            </div>
          </div>
        </div>

    </section>

      <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

      <div class="container" id="memberships" data-aos="fade-up">
        <div class="row gy-4 mt-4 justify-content-center" data-aos="fade-left">

          {% for ship in memberships %}

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              <h3 style="color: #0e76a8;">{{ ship.name }}</h3>
              <div class="price"><sup>$</sup>{{ ship.price }}<span> / mo</span></div>
              <ul>
                  {% for description in ship.description|jsonify %}
                    <li {% if description.locked %} class="na" {% endif %}>{{description.text}}</li>
                  {% endfor %}
              </ul>
              <a href="#" class="btn btn-main w-50">Sign Up</a>
            </div>
          </div>
            {% endfor %}
        </div>

      </div>

    </section><!-- End Pricing Section -->


        <section id="get-started" class="bg-main-light py-5 mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h5>Sign up today and fast-track your way to a dream career.</h5>
                <a href="/#memberships" class="btn btn-main btn-lg">Get Started</a>
            </div>
        </div>
    </div>
    </section>


{% endblock %}

{% block js %}

{% endblock %}