{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}


    <div class="pagetitle">
      <h1>Content</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Content</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 d-flex flex-column align-items-end mt-4 mb-3">
                <div class="dropdown">
                  <button class="btn btn-main dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    New Content
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'create_blog' %}"><i class="bi bi-plus"></i> Blog</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-plus"></i> Video</a></li>
                    <li><a class="dropdown-item" href="#"><i class="bi bi-plus"></i> Webinar</a></li>
                  </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Type</th>
                              <th>Tier Access</th>
                              <th>Rating</th>
                              <th>Date Created</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for content in contents %}
                            <tr>
                              <th>#</th>
                              <td>{{ content.name }}</td>
                              <td>{{ content.type_name }}</td>
                              <td>
                                  {% for tier in content.tier_access|memberships %}
                                        <small class="py-1 px-2 rounded bg-accent-light mx-1 text-accent-dark">{{ tier.name }}</small>
                                  {% endfor %}
                              </td>
                              <td>{{ content.rating }} Star</td>
                              <td>{{ content.created_at }}</td>
                                <td class="text-center">
                                    {% if content.type == content.BLOG %}
                                          <a href="{% url 'update_blog' content.id %}" class="btn btn-main-light btn-sm"><i class="bi bi-pencil-square"></i></a>
                                    {% else %}
                                          <a href="#" class="btn btn-main-light btn-sm"><i class="bi bi-pencil-square"></i></a>
                                    {% endif %}
                                      <a href="{% url 'content_details' content.id %}" class="btn btn-main btn-sm"><i class="bi bi-box-arrow-up-right"></i></a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


{% endblock %}