{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}


    <div class="pagetitle">
      <h1>Content</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Content</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column align-items-end mt-4 mb-3">
                <a href="/" class="btn btn-main"><i class="bi bi-plus"></i> New Content</a>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Type</th>
                              <th>Tier Access</th>
                              <th>Rating</th>
                              <th>Date Created</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>1</th>
                              <td>How to create a CV</td>
                              <td>Article</td>
                              <td><span class="p-2 rounded bg-warning-light mx-1">Platinum</span><span class="p-2 rounded bg-warning-light mx-1">Silver</span></td>
                              <td>5 Star</td>
                              <td>13th February</td>
                                <td class="text-center">
                                    <a href="/" class="btn btn-main-light btn-sm"><i class="bi bi-box-arrow-up-right"></i></a>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


{% endblock %}