<div class="mb-3">
  <label for="nameInput" class="form-label">Coupon Code:</label>
  <input type="text" class="form-control" id="code" name="code" required placeholder="Coupon Code e.g EMPOWER234">
</div>
<div class="mb-3">
  <label for="discount" class="form-label">Discount (*):</label>
  <input type="number" max="100" class="form-control" id="discount" name="discount" required placeholder="Discount e.g 5">
</div>
<div class="mb-3">
  <label for="uses" class="form-label">Maximum uses:</label>
  <input type="text" class="form-control" id="uses" name="uses" required placeholder="e.g 5,10">
    <small>Number of times the coupon can be used</small>
</div>
<div class="mb-3">
  <label for="expiration" class="form-label">Expiration Date:</label>
  <input type="date" class="form-control" id="expiration" name="expiration" required>
</div>

