{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}


    <div class="pagetitle">
      <h1>Feedback and Queries</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Feedback and Queries</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

     <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq my-5">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12">
            <!-- F.A.Q List 1-->
            <div class="accordion accordion-flush" id="faqlist1">
                {% for query in queries %}
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-{{ query.id }}">
                    <div class="profile">{{ query.name |make_list|first }}</div>
                      <div class="d-flex flex-column ms-2 font-normal">
                          {{ query.name }} - {{ query.email }} <small class="mt-1">{{ query.created_at }}</small>
                      </div>
                  </button>
                </h2>
                <div id="faq-content-{{ query.id }}" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body fs-6">
                    {{ query.subject }} <br>
                      {{ query.text }}
                  </div>
                </div>
              </div>
                    {% empty %}
                    <div class="alert alert-info">No Feedback or query submitted yet.</div>
                {% endfor %}
            </div>
          </div>

        </div>
      {% if queries.has_previous or queries.has_next %}
          <div class="d-flex flex-row justify-content-end mt-2">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" {% if queries.has_previous %} href="?page={{ queries.previous_page_number }}" {% else %} disabled {% endif %} aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

              {% for page in queries.paginator.num_pages|range_times %}

                    <li class="page-item {% if page == queries.number %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>

              {% endfor %}

                <li class="page-item">
                  <a class="page-link" {% if queries.has_next %} href="?page={{ queries.next_page_number }}" {% else %} disabled {% endif %} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
                </nav>
            </div>
      {% endif %}
      </div>

    </section><!-- End F.A.Q Section -->





{% endblock %}