{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}


    <div class="pagetitle">
      <h1>Job Seekers</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Job Seekers</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column align-items-end mt-4 mb-3">
{#                <a href="/" class="btn btn-main"><i class="bi bi-plus"></i> New Job Seeker</a>#}
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Membership</th>
                              <th>Joined On</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for client in clients %}
                            <tr>
                              <th>#</th>
                              <td>{{ client.username }}</td>
                              <td>{{ client.email }}</td>
                              <td><small class="py-1 px-2 rounded bg-accent-light mx-1 text-accent-dark">{{ client.clientmembership.membership }}</small></td>
                              <td>{{ client.created_at }}</td>
                                <td class="text-center">
                                    <a href="{% url 'seeker_details' client.id %}" target="_blank" class="btn btn-main-light btn-sm"><i class="bi bi-box-arrow-up-right"></i></a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>



{% endblock %}