{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}


    <div class="pagetitle">
      <h1>Private Sessions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Private Sessions</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column align-items-end mt-4 mb-3">
                <button class="btn btn-main" type="button" data-bs-toggle="modal" data-bs-target="#modalForm"><i class="bi bi-plus"></i> New Private Session</button>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Job Seeker</th>
                              <th>Instructor</th>
                              <th>Status</th>
                              <th>Scheduled For</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for meet in meetings %}
                            <tr>
                              <th>1</th>
                              <td>{{ meet.client }}</td>
                              <td>{{ meet.instructor|title }}</td>
                              <td><small class="py-1 px-2 rounded {{ meet.status_color }} mx-1 ">{{ meet.status_text }}</small></td>
                              <td>{{ meet.schedule_time }}</td>
                                <td class="text-center">
                                    <a href="/" class="btn btn-main-light btn-sm"><i class="bi bi-box-arrow-up-right"></i></a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    {% include 'layouts/modal_form.html' with action="meetings_create"|url_value submit_button="Schedule Session" body='meetings_form.html' form_title="New Private Session" %}


{% endblock %}
{% block js %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
$(document).ready(function (){

    $('#modal_form').submit(function(e){
        e.preventDefault()
        $.ajax({
            dataType: 'json',
            url: $(this).prop('action'),
            data: $(this).serialize(),
            method: 'POST',
            success: function (data) {
                 loaderBtn(false,'#submitButton')
                if (data.success){
                    $('#modalForm').trigger("reset")
                    swal("Submitted!", "Private session scheduled!", "success").then((value) => {
                        window.location.reload()
                    });
                }else{
                    swal("Sorry!", data.message, "info");
                }
            },
            error: function (error) {
                  loaderBtn(false,'#submitButton')
                  swal("Sorry!", "Something went wrong. Please try again later.", "error");
            }
         })

    })

})
</script>
{% endblock %}