{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}


    <div class="pagetitle">
      <h1>Memberships</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item active">Memberships</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex flex-column align-items-end mt-4 mb-3">
                <button class="btn btn-main" type="button" data-bs-toggle="modal" data-bs-target="#modalForm"><i class="bi bi-plus"></i> New Membership</button>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Members</th>
                              <th>Price</th>
                              <th>Tier</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for ship in memberships %}
                            <tr>
                              <th>#</th>
                              <td>{{ ship.name }}</td>
                              <td>{{ ship.clients_count }}</td>
                              <td>${{ ship.price }}</td>
                              <td>{{ ship.tier }}</td>
                                <td>
                                    <a href="/" class="btn btn-main-light btn-sm"><i class="bi bi-pencil-square"></i></a>
                                    <a href="javascript:void(0)" data-route="{% url 'membership_delete' ship.id %}" class="btn btn-danger btn-sm delete_icon"><i class="bi bi-trash-fill"></i></a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

        {% include 'layouts/modal_form.html' with action="membership_create"|url_value submit_button="Add Membership" body='membership_form.html' form_title="New Membership" %}


{% endblock %}

{% block js %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
$(document).ready(function (){
    let description_display = $('#description_display')
    let addDescription = $("#btnAddDescription")
    var itemList = [];
    $('#description').on('keyup',function () {
        if ($(this).val() !== ''){
            addDescription.removeClass('d-none')
        }
        else{
            addDescription.addClass('d-none')
        }
    });

    addDescription.click(function (){
        let inputValue = $('#description').val();
        let isChecked = $('#strikethrough').is(':checked');

        if (inputValue.trim() !== '') {
          let item = { text: inputValue, locked: isChecked };
          itemList.push(item);
          $('#description').val('');
          $('#strikethrough').prop('checked', false);
          displayList();
        }
    });
    function removeFromList(index){
        itemList.splice(index,1)
        displayList()
      }

    function displayList() {
        description_display.empty();
        description_display.removeClass('p-2')

        for (var i = 0; i < itemList.length; i++) {
            let listItemText = itemList[i].locked ? '<s>' + itemList[i].text + '</s>' : itemList[i].text;
            let removeButton = `<a href="javascript:void(0)" class="btn btn-outline-danger border-0 cancel-button ms-2" data-id="${i}"><i class="bi bi-x text-danger"></i></a>`
            let listItem = $(`<li class="m-2" id="list_${i}">`).html(listItemText+removeButton);
          description_display.append(listItem);
        }
        $('.cancel-button').click(function (){
          console.log("Here")
          let index = $(this).data('id')
          removeFromList(index)
      })
        if(itemList.length > 0) description_display.addClass('p-2')
      }

    $('#modal_form').submit(function(e){
        e.preventDefault()

        if (itemList.length < 1) {
            swal("Data Missing!", "Please at least 1 descriptive option for this membership", "info");
        }else{
            $.ajax({
                 dataType: 'json',
                    url: $(this).prop('action'),
                    data: $(this).serialize()+"&description="+JSON.stringify(itemList),
                    method: 'POST',
                    success: function (data) {
                         loaderBtn(false,'#submitButton')
                        if (data.success){
                            $('#modal_form').trigger("reset")
                            itemList = []
                            swal("Submitted!", "New membership added!", "success").then((value) => {
                                window.location.reload()
                            })
                        }else{
                            swal("Sorry!", data.message, "info");
                        }

                    },
                    error: function (error) {
                          loaderBtn(false,'#submitButton')
                    }
             })
        }

    })

})
</script>
{% endblock %}