<div class="mb-3">
  <label for="nameInput" class="form-label">Name:</label>
  <input type="text" class="form-control" id="nameInput" name="name" required placeholder="Name e.g Platinum, Silver">
</div>
<div class="mb-3">
  <label for="tier" class="form-label">Tier:</label>
  <input type="text" class="form-control" id="tier" name="tier" required placeholder="Tier e.g 1, 2">
</div>
<div class="mb-3">
  <label for="price" class="form-label">Price in $:</label>
  <input type="text" class="form-control" id="price" name="price" required placeholder="Price e.g 100">
</div>
<div class="mb-2">
          <label for="description" class="form-label">Description Item:</label>
        <input class="form-control" id="description" placeholder="Feature description">
    </div>
<div class="mb-3">
     <input class="form-check-input" type="checkbox" value="" id="strikethrough">
      <label class="form-check-label" for="strikethrough">
        Strikethrough <small class="text-muted fs-6">(Checking the strikethrough option will display the description item with <s class="text-muted">this style</s>)</small>
      </label>
</div>
<div class="mb-3">
    <button class="btn btn-outline-main btn-sm d-none" type="button" id="btnAddDescription">Add Description Item</button>
</div>

<div class="mb-5 fs-6 text-muted bg-main-light rounded" id="description_display">
</div>