{% extends 'layouts/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block 'content' %}



<div class="container-fluid">


  <div class="card mx-5 my-4 item-rounded">
    <div class="card-body">

     
      <div class="row no-gutter mt-0">

        <div class="col-lg-5 col-md-12 col-sm-12 ">
    
          <img src="{% static 'images/landing.jpg' %}" class="img-fluid item-rounded"
                                         alt="Landing page image">
        </div>
    
        <div class="col-lg-6 col-md-12 col-sm-12 py-5 pr-5">
    
          <h2 class=" mb-3">Resest Password</h2>
        <form action="" method="post">

          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-main w-100">Submit</button>
          
          </form>
          
      
       
        </div>
      </div>
      
    </div>
  </div>

  
</div>

{% endblock %}