{% extends 'layouts/base.html' %}

{% load static %}
{% load widget_tweaks %}


{% block 'content' %}

    {% if validlink %}

    <div class="container-fluid">


        <div class="card mx-5 my-4 item-rounded">
          <div class="card-body">
      
           
            <div class="row no-gutter mt-0">
      
              <div class="col-lg-5 col-md-12 col-sm-12 ">
          
                <img src="{% static 'images/landing.jpg' %}" class="img-fluid item-rounded"
                                               alt="Landing page image">
              </div>
          
              <div class="col-lg-6 col-md-12 col-sm-12 py-5 pr-5">
          
                <h3 class=" mb-3">Please enter (and confirm) your new password.</h3>
              <form action="" method="post">
      
                {% csrf_token %}
      
                {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                      {% endfor %}
      
                      {% for field in form.visible_fields %}
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {{ field|add_class:'form-control' }}
                          {% for error in field.errors %}
                          <span class="help-block">{{ error }}</span>
                          {% endfor %}
                      </div>
                      {% endfor %}
      
                      <button type="submit" class="btn btn-main w-100">Change My Password</button>
                
                </form>
                
            
             
              </div>
            </div>
            
          </div>
        </div>
      
        
      </div>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}